





html {  /* parent= viewport */
    min-width: 652px;
    
    margin: 0;
    padding: 0;
}

body {  /* parent= html */
    width: 100%;
    
    margin: 0;
    padding: 0;
    
    background-color: azure;
    
    font-size: 16px;
/*    font-family: "Source Code Pro", monospace;*/
    font-family: "Palatino Linotype"; 
}


















h1, h2, h3, h4, h5, h6 ,
nav {
/*    font-family: "Source Sans Pro", sans-serif;*/
    font-family: "Helvetica", "Verdana", "Arial", sans-serif; 

}


li {
    list-style-type: circle;
}
















/* Header */

header {
    width: 100%;
    
    margin: 0rem;
    padding-top: 1rem;
        
    background-color: skyblue;
    
    text-align: center;
}

#WebSiteTitle {
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    margin: 0rem;
}




/* Header Navigation*/

header nav {
    width: 100%;
    margin: 0;
    
    border-style: solid;
    border-color: black;
    border-top-width: .1rem;
    border-bottom-width: .1rem;
    border-left-width: 0;
    border-right-width: 0;
    
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    background-color: antiquewhite;
    background-clip: padding-box;
}

/*
header nav ul {
    display: inline;
}
*/

header nav div.container  {
    display: inline;
}




























/* BodyBody */

#BodyBodyContent {    
    margin-left: 5rem;
    margin-right: 5rem;
}
















































/* Footer */

footer {
    width: 100%;
    
    margin: 0rem;
    
    border-top: .1rem black solid;

    padding-top: 2rem;
    padding-bottom: 2rem;
    
    background-color: skyblue;
    background-clip: padding-box;
    
}

footer div.FooterContent {
    height: 10rem;

    margin: 1rem;
    padding: 2rem;
}

footer div.FooterElement {  
    height: 5rem;

    margin: 2%;
    border: solid;
    padding: 1rem;
    width: 100%;
    
    display: inline;
}


/*
footer ul {
    width: 100%;

    margin: 0rem;
    border: 0rem;
    padding: 0rem;
}

footer ul li {
    display: inline;
    
    width: 20%;
    
    margin: 0rem;
    border: 0rem;
    padding: 0rem;
    
    
}
*/

/*
footer li {
    list-style-type: none;
}
*/

































/* ABOUT ME */

#AboutMe { /* parent: body */
    margin-left: 10%;
    margin-right: 10%;
}


#ProfilePicture {
    border-style: solid;
    border-color: gray;
    border-width: thin;
    border-radius: 50%;
    
    background-color: white;
    
    float: left;
}



#AcademicTraining {
    float: none;
}































/* div {
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
} */



/* -------- header menu styles -------- */

/*
header {
  background-color: LavenderBlush	;

  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  border-color: DarkSlateBlue;

  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}
*/

/*
header h1 {
  background-color: white;
  color: DarkSlateBlue	;

  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  border-color: DarkSlateBlue;

  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}
*/

/*
header img{
    width: 100%;
    height: 200px;

    border-style: solid;
    border-width: thick;
    border-radius: 1em;
    border-color: DarkSlateBlue;
}
*/






/* -------- navigation menu styles -------- */

/*
nav {
  background-color: green;

  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  border-color: DarkSlateBlue;

  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
*/

  /* margin: 0 auto; */

/*
  overflow: hidden;
  text-align: center;
*/

  /* display: flex; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  /* align-items: space-between;
  align-content: space-between;
  justify-content: space-between; */
}
/*
nav ul {
  list-style-type: none;                       remove bullets 
*/
  /* display: inline; */


/*
  background-color: red;

  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  border-color: DarkSlateBlue;

  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
*/

/*  display: flex;                     los hijos heredan automáticamente flex */
/*  flex-direction: row;*/
  /* flex-wrap: nowrap;
  align-items: stretch; */
/*
  justify-content: space-around;

}
*/

/*
nav li{
  background-color: Plum;

  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  border-color: DarkSlateBlue;

  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
*/

  /* display: inline; */
  /* display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-around; */

/*
  color: white;
}
*/

