
/* ABOUT ME */

#AboutMe { /* parent: body */
    margin-left: 10%;
    margin-right: 10%;
}

section {
    display: block;
}



#ContactInformation {
    min-height: 15em;
}

#ProfilePicture {
    width: 20%;
    
    margin-right: 2%;
    
    border-style: solid;
    border-color: gray;
    border-width: thin;
    border-radius: 50%;
    
    background-color: white;
    
    float: left;
}



section p {
    display: inline
}

/*
#AcademicTraining {
    float: none;
}

*/











